In [54]:
import pandas as pd

In [55]:
df = pd.read_csv("../data/housing.csv")

Missing Values

In [56]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [57]:
df.shape

(20645, 10)

Mediana, MÃ©dia, Moda

In [58]:
df["total_bedrooms"].median()

435.0

In [59]:
df["total_bedrooms"].mean()

537.8636363636364

In [60]:
df["total_bedrooms"].mode()

0    280.0
Name: total_bedrooms, dtype: float64

In [61]:
mean = df["total_bedrooms"].mean()

In [62]:
df["total_bedrooms"] = df["total_bedrooms"].fillna(mean)

In [63]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

Dados Duplicados

In [64]:
df[df.duplicated(keep=False)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
17,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,NEAR BAY
18,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,NEAR BAY
27,-122.27,37.84,52.0,1688.0,337.0,853.0,325.0,2.1806,99700.0,NEAR BAY
28,-122.27,37.84,52.0,1688.0,337.0,853.0,325.0,2.1806,99700.0,NEAR BAY

In [65]:
df = df.drop_duplicates()

Erros de Entrada

In [66]:
df.ocean_proximity.unique()

array(['NEAR BAY', 'NEARBAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN',
       'ISLAND'], dtype=object)

In [67]:
df.median_income.unique()

array([8.3252, 8.3014, 7.2574, ..., 2.3598, 2.3661, 2.0943])

In [68]:
df.median_income.iloc[0]

8.3252

In [69]:
df.ocean_proximity = df.ocean_proximity.replace({'NEARBAY':'NEAR BAY'})

In [70]:
df.to_csv('../data/clean_housing.csv', index=False)